In [1]:
import sqlite3
import json
from datetime import datetime

In [2]:
timeframe = '2015-01'
sql_transaction = []

connection = sqlite3.connect('{}.db'.format(timeframe))
c = connection.cursor()

In [3]:
def create_table():
    c.execute("""CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, 
              parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)""")

In [4]:
def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

In [5]:
def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [6]:
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [7]:
def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

In [8]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [9]:
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('replace comment',str(e))

In [10]:
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('insertion in parent comment',str(e))

In [11]:
def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('insertion with no comment',str(e))

In [12]:
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0
    with open('RC_{}'.format(timeframe), buffering=1000) as f:
        for row in f:
            row_counter += 1
            row = json.loads(row)
            parent_id = row['parent_id']
            body = format_data(row['body'])
            created_utc = row['created_utc']
            score = row['score']
            comment_id = row['name']
            subreddit = row['subreddit']
            parent_data = find_parent(parent_id)
            
            if score >= 2:
                if acceptable(body):
                    existing_comment_score = find_existing_score(parent_id) 
                    if existing_comment_score:
                        if score > existing_comment_score:
                            sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                    else:
                        if parent_data:
                            sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            paired_rows += 1
                        else:
                            sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

Total Rows Read: 100000, Paired Rows: 3718, Time: 2018-08-10 22:46:36.994342
Total Rows Read: 200000, Paired Rows: 8432, Time: 2018-08-10 22:47:11.587596
Total Rows Read: 300000, Paired Rows: 13772, Time: 2018-08-10 22:47:54.730088
Total Rows Read: 400000, Paired Rows: 19179, Time: 2018-08-10 22:48:37.937785
Total Rows Read: 500000, Paired Rows: 24365, Time: 2018-08-10 22:49:20.873713
Total Rows Read: 600000, Paired Rows: 28878, Time: 2018-08-10 22:49:49.822862
Total Rows Read: 700000, Paired Rows: 33611, Time: 2018-08-10 22:50:20.142222
Total Rows Read: 800000, Paired Rows: 39023, Time: 2018-08-10 22:50:52.397254
Total Rows Read: 900000, Paired Rows: 44662, Time: 2018-08-10 22:51:25.349501
Total Rows Read: 1000000, Paired Rows: 50247, Time: 2018-08-10 22:51:58.392212
Total Rows Read: 1100000, Paired Rows: 55890, Time: 2018-08-10 22:52:32.279965
Total Rows Read: 1200000, Paired Rows: 61380, Time: 2018-08-10 22:53:04.746766
Total Rows Read: 1300000, Paired Rows: 67071, Time: 2018-08-10 22:53:38.495154
Total Rows Read: 1400000, Paired Rows: 72540, Time: 2018-08-10 22:54:13.535162
Total Rows Read: 1500000, Paired Rows: 77770, Time: 2018-08-10 22:54:47.015698
Total Rows Read: 1600000, Paired Rows: 83410, Time: 2018-08-10 22:55:22.090055
Total Rows Read: 1700000, Paired Rows: 88753, Time: 2018-08-10 22:55:58.585653
Total Rows Read: 1800000, Paired Rows: 93953, Time: 2018-08-10 22:56:34.715400
Total Rows Read: 1900000, Paired Rows: 98937, Time: 2018-08-10 22:57:11.765691
Total Rows Read: 2000000, Paired Rows: 104805, Time: 2018-08-10 22:57:48.666645
Total Rows Read: 2100000, Paired Rows: 109851, Time: 2018-08-10 22:58:26.504980
Total Rows Read: 2200000, Paired Rows: 114627, Time: 2018-08-10 22:59:01.831416
Total Rows Read: 2300000, Paired Rows: 119821, Time: 2018-08-10 22:59:38.418841
Total Rows Read: 2400000, Paired Rows: 125452, Time: 2018-08-10 23:00:15.461835
Total Rows Read: 2500000, Paired Rows: 131328, Time: 2018-08-10 23:00:52.585112
Total Rows Read: 2600000, Paired Rows: 137492, Time: 2018-08-10 23:01:29.938546
Total Rows Read: 2700000, Paired Rows: 143568, Time: 2018-08-10 23:02:06.296560
Total Rows Read: 2800000, Paired Rows: 149532, Time: 2018-08-10 23:02:44.139632
Total Rows Read: 2900000, Paired Rows: 155325, Time: 2018-08-10 23:03:21.485777
Total Rows Read: 3000000, Paired Rows: 161312, Time: 2018-08-10 23:03:58.993690
Total Rows Read: 3100000, Paired Rows: 167275, Time: 2018-08-10 23:04:36.139593
Total Rows Read: 3200000, Paired Rows: 173085, Time: 2018-08-10 23:05:13.472031
Total Rows Read: 3300000, Paired Rows: 178695, Time: 2018-08-10 23:05:51.560567
Total Rows Read: 3400000, Paired Rows: 184233, Time: 2018-08-10 23:06:29.780818
Total Rows Read: 3500000, Paired Rows: 190041, Time: 2018-08-10 23:07:08.322832
Total Rows Read: 3600000, Paired Rows: 195611, Time: 2018-08-10 23:07:48.250936
Total Rows Read: 3700000, Paired Rows: 201066, Time: 2018-08-10 23:08:26.763246
Total Rows Read: 3800000, Paired Rows: 206031, Time: 2018-08-10 23:09:05.719991
Total Rows Read: 3900000, Paired Rows: 211039, Time: 2018-08-10 23:09:43.548001
Total Rows Read: 4000000, Paired Rows: 216410, Time: 2018-08-10 23:10:20.290950
Total Rows Read: 4100000, Paired Rows: 222204, Time: 2018-08-10 23:10:58.369325
Total Rows Read: 4200000, Paired Rows: 228110, Time: 2018-08-10 23:11:35.378925
Total Rows Read: 4300000, Paired Rows: 233885, Time: 2018-08-10 23:12:12.736156
Total Rows Read: 4400000, Paired Rows: 239804, Time: 2018-08-10 23:12:50.052294
Total Rows Read: 4500000, Paired Rows: 245324, Time: 2018-08-10 23:13:26.975253
Total Rows Read: 4600000, Paired Rows: 250868, Time: 2018-08-10 23:14:05.509494
Total Rows Read: 4700000, Paired Rows: 256214, Time: 2018-08-10 23:14:49.093650
Total Rows Read: 4800000, Paired Rows: 262160, Time: 2018-08-10 23:15:31.048399
Total Rows Read: 4900000, Paired Rows: 267913, Time: 2018-08-10 23:16:11.072289
Total Rows Read: 5000000, Paired Rows: 273400, Time: 2018-08-10 23:16:51.076124
Total Rows Read: 5100000, Paired Rows: 279300, Time: 2018-08-10 23:17:33.448568
Total Rows Read: 5200000, Paired Rows: 285061, Time: 2018-08-10 23:18:16.987922
Total Rows Read: 5300000, Paired Rows: 290612, Time: 2018-08-10 23:19:04.182375
Total Rows Read: 5400000, Paired Rows: 295736, Time: 2018-08-10 23:19:48.548619
Total Rows Read: 5500000, Paired Rows: 300803, Time: 2018-08-10 23:20:31.013775
Total Rows Read: 5600000, Paired Rows: 306152, Time: 2018-08-10 23:21:11.443021
Total Rows Read: 5700000, Paired Rows: 311712, Time: 2018-08-10 23:21:52.782917
Total Rows Read: 5800000, Paired Rows: 317330, Time: 2018-08-10 23:22:32.081164
Total Rows Read: 5900000, Paired Rows: 323002, Time: 2018-08-10 23:23:12.830434
Total Rows Read: 6000000, Paired Rows: 328704, Time: 2018-08-10 23:23:53.210047
Total Rows Read: 6100000, Paired Rows: 334510, Time: 2018-08-10 23:24:34.373227
Total Rows Read: 6200000, Paired Rows: 339772, Time: 2018-08-10 23:25:18.047467
Total Rows Read: 6300000, Paired Rows: 345039, Time: 2018-08-10 23:26:03.418828
Total Rows Read: 6400000, Paired Rows: 349953, Time: 2018-08-10 23:26:56.294840
Total Rows Read: 6500000, Paired Rows: 355904, Time: 2018-08-10 23:27:48.029508
Total Rows Read: 6600000, Paired Rows: 361949, Time: 2018-08-10 23:28:41.334340
Total Rows Read: 6700000, Paired Rows: 367978, Time: 2018-08-10 23:29:38.757774
Total Rows Read: 6800000, Paired Rows: 373926, Time: 2018-08-10 23:30:35.034432
Total Rows Read: 6900000, Paired Rows: 379713, Time: 2018-08-10 23:31:31.953242
Total Rows Read: 7000000, Paired Rows: 384909, Time: 2018-08-10 23:32:29.150776
Total Rows Read: 7100000, Paired Rows: 390114, Time: 2018-08-10 23:33:26.440046
Total Rows Read: 7200000, Paired Rows: 395569, Time: 2018-08-10 23:34:22.470197
Total Rows Read: 7300000, Paired Rows: 401215, Time: 2018-08-10 23:35:28.187201
Total Rows Read: 7400000, Paired Rows: 407080, Time: 2018-08-10 23:36:21.912954
Total Rows Read: 7500000, Paired Rows: 413172, Time: 2018-08-10 23:37:01.467754
Total Rows Read: 7600000, Paired Rows: 419464, Time: 2018-08-10 23:37:40.766736
Total Rows Read: 7700000, Paired Rows: 425264, Time: 2018-08-10 23:38:20.287663
Total Rows Read: 7800000, Paired Rows: 430982, Time: 2018-08-10 23:39:02.275006
Total Rows Read: 7900000, Paired Rows: 437124, Time: 2018-08-10 23:39:48.091695
Total Rows Read: 8000000, Paired Rows: 443057, Time: 2018-08-10 23:40:40.658907
Total Rows Read: 8100000, Paired Rows: 449024, Time: 2018-08-10 23:41:30.203399
Total Rows Read: 8200000, Paired Rows: 454794, Time: 2018-08-10 23:42:17.806341
Total Rows Read: 8300000, Paired Rows: 460211, Time: 2018-08-10 23:43:02.164703
Total Rows Read: 8400000, Paired Rows: 465718, Time: 2018-08-10 23:43:50.860701
Total Rows Read: 8500000, Paired Rows: 471239, Time: 2018-08-10 23:44:47.827177
Total Rows Read: 8600000, Paired Rows: 476928, Time: 2018-08-10 23:45:38.089184
Total Rows Read: 8700000, Paired Rows: 482267, Time: 2018-08-10 23:46:27.451092
Total Rows Read: 8800000, Paired Rows: 487265, Time: 2018-08-10 23:47:18.695192
Total Rows Read: 8900000, Paired Rows: 492465, Time: 2018-08-10 23:48:05.881680
Total Rows Read: 9000000, Paired Rows: 498075, Time: 2018-08-10 23:48:50.514835
Total Rows Read: 9100000, Paired Rows: 503853, Time: 2018-08-10 23:49:37.022233
Total Rows Read: 9200000, Paired Rows: 510080, Time: 2018-08-10 23:50:31.518153
Total Rows Read: 9300000, Paired Rows: 516179, Time: 2018-08-10 23:51:25.860983
Total Rows Read: 9400000, Paired Rows: 522327, Time: 2018-08-10 23:52:21.556758
Total Rows Read: 9500000, Paired Rows: 528385, Time: 2018-08-10 23:53:30.207544
Total Rows Read: 9600000, Paired Rows: 534615, Time: 2018-08-10 23:54:46.914680
Total Rows Read: 9700000, Paired Rows: 540645, Time: 2018-08-10 23:56:01.584431
Total Rows Read: 9800000, Paired Rows: 546799, Time: 2018-08-10 23:57:18.767278
Total Rows Read: 9900000, Paired Rows: 552901, Time: 2018-08-10 23:58:34.725756
Total Rows Read: 10000000, Paired Rows: 558975, Time: 2018-08-10 23:59:54.033897
Total Rows Read: 10100000, Paired Rows: 564771, Time: 2018-08-11 00:01:03.799878
Total Rows Read: 10200000, Paired Rows: 570598, Time: 2018-08-11 00:02:13.444560
Total Rows Read: 10300000, Paired Rows: 576376, Time: 2018-08-11 00:03:32.195945

Total Rows Read: 10400000, Paired Rows: 581946, Time: 2018-08-11 00:04:55.269083
Total Rows Read: 10500000, Paired Rows: 587347, Time: 2018-08-11 00:06:29.260650
Total Rows Read: 10600000, Paired Rows: 592208, Time: 2018-08-11 00:07:56.437530
Total Rows Read: 10700000, Paired Rows: 597088, Time: 2018-08-11 00:09:13.489645
Total Rows Read: 10800000, Paired Rows: 602615, Time: 2018-08-11 00:10:23.468703
Total Rows Read: 10900000, Paired Rows: 608336, Time: 2018-08-11 00:11:35.447251
Total Rows Read: 11000000, Paired Rows: 614359, Time: 2018-08-11 00:12:46.997756
Total Rows Read: 11100000, Paired Rows: 620388, Time: 2018-08-11 00:13:57.274123
Total Rows Read: 11200000, Paired Rows: 626342, Time: 2018-08-11 00:15:04.091114
Total Rows Read: 11300000, Paired Rows: 632509, Time: 2018-08-11 00:16:06.480129
Total Rows Read: 11400000, Paired Rows: 638744, Time: 2018-08-11 00:17:10.092372
Total Rows Read: 11500000, Paired Rows: 644898, Time: 2018-08-11 00:18:18.617651
Total Rows Read: 11600000, Paired Rows: 650940, Time: 2018-08-11 00:19:26.142319
Total Rows Read: 11700000, Paired Rows: 656976, Time: 2018-08-11 00:20:31.417366
Total Rows Read: 11800000, Paired Rows: 662623, Time: 2018-08-11 00:21:39.523164
Total Rows Read: 11900000, Paired Rows: 668389, Time: 2018-08-11 00:22:49.587417
Total Rows Read: 12000000, Paired Rows: 674337, Time: 2018-08-11 00:24:02.134782
Total Rows Read: 12100000, Paired Rows: 680106, Time: 2018-08-11 00:25:14.292052
Total Rows Read: 12200000, Paired Rows: 685829, Time: 2018-08-11 00:26:28.036639
Total Rows Read: 12300000, Paired Rows: 691520, Time: 2018-08-11 00:27:43.816315
Total Rows Read: 12400000, Paired Rows: 696691, Time: 2018-08-11 00:28:56.475304
Total Rows Read: 12500000, Paired Rows: 701591, Time: 2018-08-11 00:30:13.234119
Total Rows Read: 12600000, Paired Rows: 706932, Time: 2018-08-11 00:31:24.808765
Total Rows Read: 12700000, Paired Rows: 712657, Time: 2018-08-11 00:32:45.686065
Total Rows Read: 12800000, Paired Rows: 718712, Time: 2018-08-11 00:34:07.141169
Total Rows Read: 12900000, Paired Rows: 724769, Time: 2018-08-11 00:35:18.382594
Total Rows Read: 13000000, Paired Rows: 731065, Time: 2018-08-11 00:36:37.237880
Total Rows Read: 13100000, Paired Rows: 737297, Time: 2018-08-11 00:38:04.936487
Total Rows Read: 13200000, Paired Rows: 743579, Time: 2018-08-11 00:39:38.344179
Total Rows Read: 13300000, Paired Rows: 750056, Time: 2018-08-11 00:41:03.558756
Total Rows Read: 13400000, Paired Rows: 755757, Time: 2018-08-11 00:42:20.058460
Total Rows Read: 13500000, Paired Rows: 761723, Time: 2018-08-11 00:43:38.447837
Total Rows Read: 13600000, Paired Rows: 767664, Time: 2018-08-11 00:44:59.329202
Total Rows Read: 13700000, Paired Rows: 773361, Time: 2018-08-11 00:46:19.837257
Total Rows Read: 13800000, Paired Rows: 779362, Time: 2018-08-11 00:47:34.553180
Total Rows Read: 13900000, Paired Rows: 785203, Time: 2018-08-11 00:48:42.598535
Total Rows Read: 14000000, Paired Rows: 791123, Time: 2018-08-11 00:49:53.299036
Total Rows Read: 14100000, Paired Rows: 796924, Time: 2018-08-11 00:51:03.306451
Total Rows Read: 14200000, Paired Rows: 802171, Time: 2018-08-11 00:52:19.937782

KeyboardInterrupt:

In [13]:
# Create database as much you want but should be more than 100,000pairs
# it took me more than 2 hours for 802171 pairs